.container {
    margin-top: 10vh;
}

.my-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}

.my-modal .container {
    background-color: aquamarine;
}

/*.my-remove-modal {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    top: 0;*/
/*    z-index: 999;*/
/*    background-color: rgba(255, 255, 255, 0);*/
/*}*/


/*.my-remove-modal .container {*/
/*    background-color: aquamarine;*/
/*}*/