header {
    height: 10vh;
    /*position: fixed;*/
    top: 0;
    background-color: #ffffff;
}

.logo {
    height: 100%;
    width: auto;
}

img {
    height: 100%;
}

.menu-open {
    position: relative;
    height: 3rem;
    right: -3rem;
}

.menu-icon {
    position: absolute;
    right: 4px;
    padding: 4px;
}

.line {
    width: 2rem;
    height: .3rem;
    background-color: #6fe7bd;
    margin-bottom: .4rem;
    border-radius: 1rem;
}

.line1 {
    transition: .3s ease;
}

.line2, .line2 {
    transition: .7s ease;
}

.links {
    transition: 1s ease;
}

menu {
    height: 90vh;
    width: 15rem;
    left: -15rem;
    transition: .4s ease-out;
    z-index: 5;
}


menu ul .menu-link {
    height: 3rem;
    width: 12rem;
    padding-left: 1rem;
}

menu ul .menu-link:hover {
    background-color: #6fe7bd;
}
