header {
    height: 10vh;
    position: fixed;
    top:0;
}

.logo {
    height: 100%;
    width: auto;
}

img {
    height: 100%;
}

.links {
    padding: 0;
    margin-top: 1.8rem;
    height: 2.4rem;
    overflow: hidden;
    transition: .4s;
    margin-left: 1rem;
    z-index: 999;
    background-color: lime;
    border-radius: .6rem;
}

.links:hover {
    border-radius: 0;
    height: 18.8rem;
    margin-top: 18rem;
    box-shadow: 0 0 4rem .4rem rgba(0, 0, 0, 0.44);
}

.links .menu-link {
    padding: 0 .4rem;
    height: 2.4rem;
    background-color: lime;
}

.links .menu-link:hover {
    background-color: green;
    color: #eeeeee;
}